@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

h1, h2{
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;

}

*{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(255, 255, 255);
}

body {
  margin: 0%;
  padding: 0%;
  min-width: 320px;
  min-height: 100vh;

  background-color: rgb(34, 32, 32);
}